
<!--Section: Contact v.2-->
<section class="container mb-4">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Contáctenos</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">Tienes alguna pregunta? No dudes en contactarnos directamente. Te responderemos en cuestión de horas.</p>

<!--Grid column-->
        <div class="col-md-12 text-center">
            <ul class="list-unstyled mb-0">
                <li><i class="fa fa-map-marker fa-2x"></i>
                    <p>La Garzota , Guayaquil</p>
                </li>

                <li><i class="fa fa-phone mt-4 fa-2x"></i>
                    <p>(+593)958878313</p>
                </li>

                <li><i class="fa fa-envelope mt-4 fa-2x"></i>
                    <p>info@majorosero.com</p>
                </li>
            </ul>
        </div>



</section>
<!--Section: Contact v.2-->

